# Exporter
METRICS_PORT=8000
METRICS_HOST=0.0.0.0

# OVSDB
OVSDB_SRC_DIR=/usr/share/openvswitch
OVSDB_RUN_DUR=/var/run/openvswitch
# Interval for metrics request
OVSDB_STATS_INTERVAL=5
# Time for response
OVSDB_CONN_TIMEOUT=10

# Switch
# Interval for metrics request
SWITCH_STATS_INTERVAL=5
# Flow idle lifetime
FLOW_IDLE_TIMEOUT=20

# Logger
LOG_LEVEL=INFO